.Buttons {
    border: 1px solid black;
    width: 380px;
    height: auto;
    margin: 1px auto;
    padding: 21px 54px 21px 19px;
}

.Button button {
    width: 60px;
    margin: 5px auto;
    padding: 10px 20px;
}